@charset "UTF-8";
@font-face {
  font-family: "YS Display";
  src: url("../fonts/YS-Display-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "YS Display";
  src: url("../fonts/YS-Display-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
/* Обычное состояние и состояние посещенной ссылки */
a {
  color: rgba(255, 255, 255, 0.15);
}

/* Состояние наведения */
a:hover {
  color: #B4AFFF;
}

/* Состояние активации */
a:active {
  color: #ff0000;
}

/* Состояние фокуса */
a:focus {
  color: #B4AFFF;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("../img/SVG/Ellipse-35.svg") top left no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(23.44%, rgba(35, 34, 31, 0.35)), to(#000)) no-repeat, -webkit-gradient(linear, left top, left bottom, from(#242321), to(#242321));
  background: url("../img/SVG/Ellipse-35.svg") top left no-repeat, linear-gradient(180deg, rgba(35, 34, 31, 0.35) 23.44%, #000 100%) no-repeat, linear-gradient(to bottom, #242321, #242321);
  background-size: auto, 100% 100%, auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 7.6967592593vw;
}

/* Гамбургер иконка */
.menu-btn {
  margin: 4.6875vw 4.8611111111vw 0 0;
  width: 2.3148148148vw;
  height: 2.0833333333vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
}

.menu-btn span {
  width: 2.3148148148vw;
  height: 0.2314814815vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 0.8101851852vw);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 0.8101851852vw);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
      -ms-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(-45deg);
      -ms-transform: translate(-50%, 0%) rotate(-45deg);
          transform: translate(-50%, 0%) rotate(-45deg);
}

/* Меню, которое будет появляться */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 27.1990740741vw;
  height: 26.0416666667vw;
  padding: 0.8680555556vw;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border-radius: 2.1412037037vw;
  background: -webkit-gradient(linear, right top, left top, color-stop(106.47%, #181715), color-stop(106.48%, rgba(24, 23, 21, 0)));
  background: linear-gradient(270deg, #181715 106.47%, rgba(24, 23, 21, 0) 106.48%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 1;
}

.menu.active {
  -webkit-transform: translateX(5%);
      -ms-transform: translateX(5%);
          transform: translateX(5%);
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2731481481vw;
  margin: 8.6805555556vw 0 0 3.1828703704vw;
}

.menu li {
  color: rgba(255, 255, 255, 0.15);
  font-family: YS Display;
  font-size: 1.7361111111vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.880787037vw; /* 108.333% */
}

.link-active {
  color: #FFF;
  font-family: YS Display;
  font-size: 1.7361111111vw;
  font-style: normal;
  font-weight: 400;
  line-height: 7.6967592593vw 32.5; /* 108.333% */
}

.link-sub-active {
  color: rgba(255, 255, 255, 0.35);
  font-family: YS Display;
  font-size: 1.7361111111vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.880787037vw; /* 108.333% */
}

.link-sub-active:visited {
  color: rgba(255, 255, 255, 0.35);
  font-family: YS Display;
  font-size: 1.7361111111vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.880787037vw; /* 108.333% */
}

.logo {
  gap: 1.1574074074vw;
  margin: 5.3240740741vw 0 0 9.7800925926vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 11.2847222222vw;
}

.logo-symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: black;
  font-family: YS Display;
  font-style: normal;
  font-weight: 600;
  font-size: 2.0833333333vw;
}

.logo-symbol::before {
  content: "";
  width: 2.9189814815vw;
  height: 2.9189814815vw;
  position: absolute;
  top: -0.4050925926vw;
  left: -0.6944444444vw;
  background: #FFF;
  border-radius: 50%;
  z-index: -1;
}

.logo-word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgb(255, 255, 255);
  font-family: YS Display;
  font-style: normal;
  font-weight: 500;
  font-size: 2.0833333333vw;
}

h1 {
  margin: 8.7708333333vw 0 0 9.0856481481vw;
  color: rgb(255, 255, 255);
  font-family: YS Display;
  font-size: 2.8935185185vw;
  font-style: normal;
  font-weight: 700;
  line-height: 3.0381944444vw; /* 105% */
  width: 26.099537037vw;
}

.under-h1 {
  margin: 4.224537037vw 0 0 9.0856481481vw;
  width: 39.8726851852vw;
  color: #FFF;
  font-family: YS Display;
  font-size: 1.7361111111vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.880787037vw; /* 108.333% */
}
.under-h1 strong {
  color: #FFF;
  font-family: YS Display;
  font-size: 1.7361111111vw;
  font-style: normal;
  font-weight: 700;
  line-height: 1.880787037vw;
}

.pics {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("../img/mask.png") 122px 142px no-repeat, url("../img/arrow1.png") 0px -505px no-repeat;
  background-size: 14%, 74.4%;
}

#footer-buton {
  bottom: -12.962962963vw;
  right: -9.4328703704vw;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 42.1875vw;
  height: 42.1875vw;
  border-radius: 50%;
  border: 1px solid #B4AFFF;
  background: #9B94FF;
  z-index: 2;
  cursor: pointer;
  overflow: hidden;
}

.footer-button-text {
  margin: 18.6921296296vw 0 0 15.2777777778vw;
  color: #FFF;
  font-family: YS Display;
  font-size: 2.9513888889vw;
  font-style: normal;
  font-weight: 500;
  line-height: 3.0381944444vw; /* 105% */
}

.layer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; /* Добавляем анимацию */
  overflow: hidden;
}

.layer1 {
  background-image: url("../img/SVG/lights1.svg");
  background-size: 100% 100%;
}

.layer2 {
  background-image: url("../img/SVG/lights2.svg");
  background-size: 100% 100%;
}

.layer3 {
  background-image: url("../img/SVG/lights3.svg");
  background-size: 100% 100%;
}