@charset "UTF-8";
@font-face {
  font-family: "YS Display";
  src: url("../fonts/YS-Display-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "YS Display";
  src: url("../fonts/YS-Display-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); /* Исходный размер элемента */
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2); /* Увеличенный размер на 200% */
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); /* Возврат к исходному размеру */
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); /* Исходный размер элемента */
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2); /* Увеличенный размер на 200% */
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); /* Возврат к исходному размеру */
  }
}
/* Обычное состояние и состояние посещенной ссылки */
a {
  color: rgba(255, 255, 255, 0.15);
}

/* Состояние наведения */
a:hover {
  color: #B4AFFF;
}

/* Состояние активации */
a:active {
  color: #ff0000;
}

/* Состояние фокуса */
a:focus {
  color: #B4AFFF;
}

body {
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  background: url("../img/SVG/Ellipse-35.svg") top left no-repeat, -webkit-gradient(linear, left top, left bottom, from(#392E47), to(#100D22)) no-repeat;
  background: url("../img/SVG/Ellipse-35.svg") top left no-repeat, linear-gradient(180deg, #392E47 0%, #100D22 100%) no-repeat;
  background-size: auto, 100vw 100dvh;
}

.age-verification-page-body {
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  background: url("../img/SVG/18+.svg") top left no-repeat, url("../img/SVG/Ellipse-35.svg") top left no-repeat, -webkit-gradient(linear, left top, left bottom, from(#392E47), to(#100D22)) no-repeat;
  background: url("../img/SVG/18+.svg") top left no-repeat, url("../img/SVG/Ellipse-35.svg") top left no-repeat, linear-gradient(180deg, #392E47 0%, #100D22 100%) no-repeat;
  background-size: contain, auto, 100vw 100dvh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 11.9068934646dvh;
}

/* Гамбургер иконка */
.menu-btn {
  margin: 7.2515666965dvh 7.5201432408dvh 0 0;
  width: 3.5810205909dvh;
  height: 3.2229185318dvh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 11;
  overflow: hidden;
  cursor: pointer;
}

.menu-btn span {
  width: 3.5810205909dvh;
  height: 0.3581020591dvh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 1.2533572068dvh);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 1.2533572068dvh);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
      -ms-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(-45deg);
      -ms-transform: translate(-50%, 0%) rotate(-45deg);
          transform: translate(-50%, 0%) rotate(-45deg);
}

/* Меню, которое будет появляться */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 42.0769919427dvh;
  height: 40.2864816473dvh;
  padding: 1.3428827216dvh;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border-radius: 3.3124440466dvh;
  background: -webkit-gradient(linear, right top, left top, color-stop(106.47%, #181715), color-stop(106.48%, rgba(24, 23, 21, 0)));
  background: linear-gradient(270deg, #181715 106.47%, rgba(24, 23, 21, 0) 106.48%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 10;
}

.menu.active {
  -webkit-transform: translateX(5%);
      -ms-transform: translateX(5%);
          transform: translateX(5%);
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.969561325dvh;
  margin: 13.4288272158dvh 0 0 4.9239033124dvh;
}

.menu li {
  color: rgba(255, 255, 255, 0.15);
  font-family: YS Display;
  font-size: 2.6857654432dvh;
  font-style: normal;
  font-weight: 400;
  line-height: 2.9095792301dvh; /* 108.333% */
}

.link-active {
  color: #FFF;
  font-family: YS Display;
  font-size: 2.6857654432dvh;
  font-style: normal;
  font-weight: 400;
  line-height: 2.9095792301dvh; /* 108.333% */
}

.link-sub-active {
  color: rgba(255, 255, 255, 0.35);
  font-family: YS Display;
  font-size: 2.6857654432dvh;
  font-style: normal;
  font-weight: 400;
  line-height: 2.9095792301dvh; /* 108.333% */
}

.link-sub-active:visited {
  color: rgba(255, 255, 255, 0.35);
  font-family: YS Display;
  font-size: 2.6857654432dvh;
  font-style: normal;
  font-weight: 400;
  line-height: 2.9095792301dvh; /* 108.333% */
}

.logo {
  margin: 8.236347359dvh 0 0 14.0555058192dvh;
  width: 17.4574753805dvh;
  height: 4.5658012534dvh;
  background: url(../img/SVG/logo.svg) no-repeat;
  background-size: contain;
}

.logo-symbol {
  display: none;
  position: relative;
  color: black;
  font-family: YS Display;
  font-style: normal;
  font-weight: 600;
  font-size: 3.2229185318dvh;
}

.logo-symbol::before {
  content: "";
  display: none;
  width: 4.5156669651dvh;
  height: 4.5156669651dvh;
  position: absolute;
  top: -0.6266786034dvh;
  left: -1.0743061773dvh;
  background: #FFF;
  border-radius: 50%;
  z-index: -1;
}

.logo-word {
  display: none;
  color: rgb(255, 255, 255);
  font-family: YS Display;
  font-style: normal;
  font-weight: 500;
  font-size: 3.2229185318dvh;
}

h1 {
  margin: 13.5684870188dvh 0 0 14.0555058192dvh;
  font-family: YS Display;
  font-size: 4.4762757386dvh;
  font-style: normal;
  font-weight: 700;
  line-height: 4.7000895255dvh; /* 105% */
  width: 40.376007162dvh;
  background: var(--Yandex-text, linear-gradient(272deg, #A09BF4 19.72%, #FFE5CD 121.59%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.under-h1 {
  margin: 6.5353625783dvh 0 0 14.0555058192dvh;
  width: 61.6830796777dvh;
  color: #FFF;
  font-family: YS Display;
  font-size: 2.6857654432dvh;
  font-style: normal;
  font-weight: 400;
  line-height: 2.9095792301dvh; /* 108.333% */
}
.under-h1 strong {
  color: #FFF;
  font-family: YS Display;
  font-size: 2.6857654432dvh;
  font-style: normal;
  font-weight: 700;
  line-height: 2.9095792301dvh;
}

.smart-screen-block {
  margin: 15.4879140555dvh 0 0 21.3965980304dvh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 34px;
}

.smart-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 27.5738585497dvh;
  height: 54.0734109221dvh;
  background: url(../img/smart-screen-1.png) top left no-repeat;
  background-size: contain;
}

.smart-screen-instruction-pic-2 {
  background: url(../img/smart-screen-2.png) top left no-repeat;
  background-size: contain;
}

.smart-screen-instruction-pic-3 {
  background: url(../img/smart-screen-3.png) top left no-repeat;
  background-size: contain;
}

.smart-screen-instruction-pic-4 {
  background: url(../img/smart-screen-4.png) top left no-repeat;
  background-size: contain;
}

.smart-screen-instruction-pic-5 {
  background: url(../img/smart-screen-5.png) top left no-repeat;
  background-size: contain;
}

.smart-screen-instruction-pic-6 {
  background: url(../img/smart-screen-6.png) top left no-repeat;
  background-size: contain;
}

.smart-screen::after {
  content: "";
  position: absolute;
  top: 11.0116383169dvh;
  left: 11.9964189794dvh;
  width: 4.2076991943dvh;
  height: 4.2076991943dvh;
  background: url(../img/SVG/crosshair.svg) center center no-repeat;
  background-size: contain;
  -webkit-animation: pulse 1.7s ease-in-out infinite;
          animation: pulse 1.7s ease-in-out infinite;
}

.smart-screen-instruction-pic-2::after {
  content: "";
  position: absolute;
  top: 22.6499552372dvh;
  left: 11.6383169203dvh;
  width: 4.2076991943dvh;
  height: 4.2076991943dvh;
  background: url(../img/SVG/crosshair.svg) center center no-repeat;
  background-size: contain;
  -webkit-animation: pulse 1.7s ease-in-out infinite;
          animation: pulse 1.7s ease-in-out infinite;
}

.smart-screen-instruction-pic-3::after {
  content: "";
  position: absolute;
  top: 43.4198746643dvh;
  left: 11.6383169203dvh;
  width: 4.2076991943dvh;
  height: 4.2076991943dvh;
  background: url(../img/SVG/crosshair.svg) center center no-repeat;
  background-size: contain;
  -webkit-animation: pulse 1.7s ease-in-out infinite;
          animation: pulse 1.7s ease-in-out infinite;
}

.smart-screen-instruction-pic-4::after {
  content: "";
  position: absolute;
  top: 12.6230975828dvh;
  left: 11.9068934646dvh;
  width: 4.2076991943dvh;
  height: 4.2076991943dvh;
  background: url(../img/SVG/crosshair.svg) center center no-repeat;
  background-size: contain;
  -webkit-animation: pulse 1.7s ease-in-out infinite;
          animation: pulse 1.7s ease-in-out infinite;
}

.smart-screen-instruction-pic-5::after {
  content: "";
  position: absolute;
  top: 25.7833482543dvh;
  left: 17.0993733214dvh;
  width: 4.2076991943dvh;
  height: 4.2076991943dvh;
  background: url(../img/SVG/crosshair.svg) center center no-repeat;
  background-size: contain;
  -webkit-animation: pulse 1.7s ease-in-out infinite;
          animation: pulse 1.7s ease-in-out infinite;
}

.smart-screen-instruction-pic-6::after {
  content: "";
  display: none;
}

.smart-screen::before {
  content: "";
  position: absolute;
  top: -10.2954341987dvh;
  left: -15.5774395703dvh;
  width: 43.5094001791dvh;
  width: 24.1718889884dvh;
  height: 24.1718889884dvh;
  background: url(../img/1.png) top left no-repeat;
  background-size: contain;
  -webkit-transform: rotate(6.349deg);
      -ms-transform: rotate(6.349deg);
          transform: rotate(6.349deg);
}

.smart-screen-instruction-pic-2::before {
  content: "";
  background: url(../img/2.png) top left no-repeat;
  background-size: contain;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.smart-screen-instruction-pic-3::before {
  content: "";
  background: url(../img/3.png) top left no-repeat;
  background-size: contain;
  -webkit-transform: rotate(1.435deg);
      -ms-transform: rotate(1.435deg);
          transform: rotate(1.435deg);
}

.smart-screen-instruction-pic-4::before {
  content: "";
  background: url(../img/4.png) top left no-repeat;
  background-size: contain;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.smart-screen-instruction-pic-5::before {
  content: "";
  background: url(../img/5.png) top left no-repeat;
  background-size: contain;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.smart-screen-instruction-pic-6::before {
  content: "";
  background: url(../img/6.png) top left no-repeat;
  background-size: contain;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.smart-screen-instruction-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 4.4762757386dvh 0;
  width: 43.5094001791dvh;
  color: #FFF;
  font-family: YS Display;
  font-size: 2.6857654432dvh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.smart-screen-link {
  color: #FFF;
  font-family: YS Display;
  font-size: 2.6857654432dvh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}

.lights-under-h1 {
  margin: 6.5353625783dvh 0 0 14.0555058192dvh;
  width: 61.6830796777dvh;
  color: #FFF;
  font-family: YS Display;
  font-size: 2.6857654432dvh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mask {
  position: absolute;
  bottom: 6.1772605192dvh;
  right: 123.9928379588dvh;
  width: 16.8307967771dvh;
  height: 17.7260519248dvh;
  background: url("../img/mask.png") top left no-repeat;
  background-size: cover;
  z-index: 4;
}

.arrow {
  position: absolute;
  bottom: 21.6651745748dvh;
  right: 31.8710832587dvh;
  width: 57.2068039391dvh;
  height: 18.7108325873dvh;
  -webkit-transform: rotate(26.928deg);
      -ms-transform: rotate(26.928deg);
          transform: rotate(26.928deg);
  background: url("../img/SVG/arrow.svg") top left no-repeat;
  background-size: contain;
  z-index: 3;
}

#footer-buton {
  bottom: -20.0537153089dvh;
  right: -14.5926589078dvh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65.2641002686dvh;
  height: 65.2641002686dvh;
  border-radius: 50%;
  border: 1px solid #B4AFFF;
  background: #9B94FF;
  z-index: 2;
  cursor: pointer;
  overflow: hidden;
}

.footer-button-text {
  margin: 28.9167412713dvh 0 0 23.6347358997dvh;
  color: #F5F5F5;
  text-align: center;
  font-family: YS Display;
  font-size: 4.4762757386dvh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lights-footer-button {
  bottom: -20.0537153089dvh;
  right: -14.5926589078dvh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65.2641002686dvh;
  height: 65.2641002686dvh;
  border-radius: 50%;
  border: 1px solid #B4AFFF;
  background: #9B94FF;
  -webkit-box-shadow: 0px 0px 184px 0px #B53CFF;
          box-shadow: 0px 0px 184px 0px #B53CFF;
  z-index: 2;
  cursor: pointer;
  overflow: hidden;
}

.gerland {
  bottom: 0dvh;
  right: 0dvh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90.1521933751dvh;
  height: 90.1521933751dvh;
  background: url("../img/light_2_off.png") bottom right no-repeat;
  background-size: contain;
  z-index: 2;
  overflow: hidden;
}

.gerland-instruction-1 {
  background: url("../img/gerlang-instruction-1.png") bottom right no-repeat;
  background-size: contain;
}

.gerland-instruction-2 {
  background: url("../img/gerlang-instruction-2.png") bottom right no-repeat;
  background-size: contain;
}

.gerland-instruction-3 {
  background: url("../img/gerlang-instruction-3.png") bottom right no-repeat;
  background-size: contain;
}

.gerland-instruction-4 {
  background: url("../img/gerlang-instruction-4.png") bottom right no-repeat;
  background-size: contain;
}

.gerland-instruction-5 {
  background: url("../img/gerlang-instruction-5.png") bottom right no-repeat;
  background-size: contain;
}

.gerland-instruction-6 {
  background: url("../img/gerlang-instruction-6.png") bottom right no-repeat;
  background-size: contain;
}

.lights-footer-button:after {
  content: "";
  position: absolute;
  bottom: 20.1432408236dvh;
  right: 14.5926589078dvh;
  width: 37.9588182632dvh;
  height: 32.8558639212dvh;
  background: url("../img/smart-home.png") bottom right no-repeat;
  background-size: contain;
  z-index: -1;
}

.lights-footer-button-text {
  margin: 29.9910474485dvh 0 0 20.1432408236dvh;
  color: #F5F5F5;
  text-align: center;
  font-family: YS Display;
  font-size: 4.4762757386dvh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; /* Добавляем анимацию */
  overflow: hidden;
}

.layer1 {
  background-image: url("../img/SVG/lights1.svg");
  background-size: 100%;
}

.layer2 {
  background-image: url("../img/SVG/lights2.svg");
  background-size: 100%;
}

.layer3 {
  background-image: url("../img/SVG/lights3.svg");
  background-size: 100%;
}

.age-verification-page-links {
  margin: 5.2820053715dvh 0 0 14.0555058192dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40.2864816473dvh;
  height: 5.0134288272dvh;
  gap: 1.7905102954dvh;
}

.no-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #FFF;
  border-radius: 10px;
  width: 19.2479856759dvh;
  height: 5.0134288272dvh;
  color: #FFF;
  text-align: center;
  font-family: YS Display;
  font-size: 1.8800358102dvh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  z-index: 1;
}

.yes-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px solid #FFF;
  border-radius: 10px;
  background: #9B94FF;
  width: 40.2864816473dvh;
  height: 5.0134288272dvh;
  color: #FFF;
  text-align: center;
  font-family: YS Display;
  font-size: 1.8800358102dvh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  z-index: 1;
}